.OuterFullHeader {
      display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}

.titleNLocation{
     display: flex;
flex-direction: column;
align-items: flex-start;
gap: 6px;
align-self: stretch;
}

.LibraryName{
      flex: 1 0 0;
      color: #000;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.LocationNIcon{
      display: flex;
align-items: center;
gap: 10px;
align-self: stretch;
}

.loactionIcon{
      width: 20px;
height: auto;
fill: #FFF;
}

.locationName{
display: flex;
align-items: center;
flex: 1 0 0;
color: #4D4D4D;
font-size: 20px;
font-weight:400;

}

.RatingTimeContact{
      display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}

.ReviewNRatingsDetails{
      display: flex;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      
}

.RatingNStar{
      display: flex;
padding: 2px 8px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 3px;
background: #059212;
}

.rating{
      color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.star svg{
      width : 14px;
}

.review{
      display: flex;
align-items: center;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
}

.review span {
      color: #4D4D4D;
font-size: 18px;
font-weight: 400;
}

.Time{
      display: flex;
align-items: center;
gap: 10px;
align-self: stretch;
}

.ContactNumber{
      display: flex;
align-items: center;
gap: 10px;
align-self: stretch;
}